<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <img [src]="product.image" class="w-1/4 m-2" alt="">
  <h2 class="mb-2 text-md text-center text-1xl">{{ product.title }}</h2>
  <p>Price: <span class="text-amber-700 font-bold">{{product.price | currency}}</span></p>

  <button
    class="border py-2 px-4 rounded bg"
    [ngClass]="{
      'bg-yellow-400': !details,
      'bg-green-500': details
    }"
    (click)="details = !details"
  >{{details? 'Hide':'Show'}} Details</button>

  <div *ngIf="details">
    <p>{{product.description}}</p>
    <p>Rate:<span [ngStyle]="{fontWeight:'bold'}">{{product.rating.rate}}</span></p>
  </div>
</div>
